@model IEnumerable<advertising.Models.Advertiser>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DistributionAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isOrganization)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubscriberId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrganizationNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DistributionAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isOrganization)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubscriberId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrganizationNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
