@model IEnumerable<advertising.Models.Ad>

@{
    ViewData["Title"] = "Annonser";
}

<h1>Annonser</h1>

<p>
    <a asp-action="CreateAd">Skapa ny annons</a>
</p>
<table class="table">
    <thead>
        <th>Översikt</th>
        <th>Säljes av</th>
        <th>Mer information</th>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            // TODO: Change "SEK" in Price if implementing the bonus assignment. 
            <tr>
                <td>
                    <h3>@Html.DisplayFor(modelItem => item.Headline)</h3>
                    <p>@Html.DisplayFor(modelItem => item.Price) SEK</p> 
                    <p>@Html.DisplayFor(modelItem => item.Advertiser.City)</p>
                </td>
                <td>
                    @if (!item.Advertiser.isOrganization)
                    {
                        <p>Prenumerant:</p>
                        <p>@Html.DisplayFor(modelItem => item.Advertiser.Firstname)</p> 
                    } else {
                        <p>Företag:</p>
                        <p>@Html.DisplayFor(modelItem => item.Advertiser.OrganizationName)</p> 
                    }
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Läs mer</a>
                </td>
            </tr>
        }
    </tbody>
</table>
