@model IEnumerable<advertising.Models.Ad>

@{
    ViewData["Title"] = "Annonser";
}

<h1>Annonser</h1>

<p>
    <a asp-action="CreateAd">Skapa ny annons</a>
</p>

<form asp-action="Index">
    <fieldset> <select id="Currency" name="Currency">

    <option value="" selected="selected">--- Välj valuta ---</option>

    <option value="SEK">Svensk Krona</option>

    <option value="USD">US Dollar</option>

    <option value="EUR">Euro</option>

    </select>

    <input type="submit" value="Ändra valuta" />

    </fieldset>
</form>

<br>

<table class="table">
    <thead>
        <th>Översikt</th>
        <th>Säljes av</th>
        <th>Mer information</th>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    <h3>@Html.DisplayFor(modelItem => item.Headline)</h3>
                    @if (ViewBag.currencyName != null && ViewBag.exchangeRate != null)
                    {
                        <p>@(Math.Ceiling(item.Price * ViewBag.exchangeRate)) @ViewBag.currencyName</p>
                    }
                    else {
                        <p>@Html.DisplayFor(modelItem => item.Price) SEK</p>
                    }
                    <p>@Html.DisplayFor(modelItem => item.Advertiser.City)</p>
                </td>
                <td>
                    @if (!item.Advertiser.isOrganization)
                    {
                        <p>Prenumerant:</p>
                        <p>@Html.DisplayFor(modelItem => item.Advertiser.Firstname)</p> 
                    } else {
                        <p>Företag:</p>
                        <p>@Html.DisplayFor(modelItem => item.Advertiser.OrganizationName)</p> 
                    }
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Läs mer</a>
                </td>
            </tr>
        }
    </tbody>
</table>
